@import "tailwindcss";

@theme {
  --background: #e5f2ff;
  --foreground: #ffffff;
  --color-primary: #007aff;
  --color-primary-darker: #006fe8;
  --color-border: #6c788f;
}
:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1920px;
  padding-left: 2rem;
  padding-right: 2rem;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}
